{{ partial "blog/header.html" . }}

<div id="content">
    <div class="post">
        <h2><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h2>
        <div class="post-content">
            {{ .Content }}
        </div><!-- #post-content -->
        <div class="post-metadata">
            This entry was posted by {{ .Params.author }} on {{ .Date.Format "Monday January 2th, 2006" }} at {{ .Date.Format "15:04" }}
            {{ if .Params.bcategories }}
            in 
            {{ range .Params.bcategories }}
            <a href="{{ "/blog/categories/" | relLangURL }}{{ . | urlize }}" rel="category tag">{{ . }}</a>
            {{ end }}
            {{ end }}
            {{ if .Params.btags }}
            <br />Tags:
            {{ range .Params.btags }}
            <a href="{{ "/blog/tags/" | relLangURL }}{{ . | urlize }}" rel="tag">{{ . }}</a>
            {{ end }}
            {{ end }}
        </div><!-- #post-metadata -->
    </div><!-- #post -->
</div><!-- content -->

{{ partial "blog/sidebar.html" . }}

{{ partial "blog/footer.html" . }}
