<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1" />
	<meta name="robots" content="index,follow" />
	<meta name="verify-v1" content="gLQiua3aPM/F1rGBlT0VfVkAM69VOtdt/ZhLbcCIljs=" />
	<meta name="y_key" content="f6744969e9431268" />
	<link rel="stylesheet" type="text/css" media="all" href="/blog/css/style.css" />
	<link rel="stylesheet" href="/blog/css/print.css" type="text/css" media="print" />
	<link rel="shortcut icon" href="/blog/images/favicon.ico" type="image/x-icon" />
	<link rel="alternate" type="application/atom+xml" title="SDLC Blog Atom Feed" href="http://feeds.feedburner.com/SdlcBlog" />

	{{ with .Params.title -}}
	<title>{{ . }}</title>
	<meta name="DC.title" content="{{ . }}">
	{{ else -}}
	<title>SDLC Blog</title>
	<meta name="DC.title" content="SDLC Blog">
	{{ end -}}
	{{ with .Params.description }}
	<meta name="description" content="{{ . }}">
	{{ else -}}
	<meta name="description" content="Software Development Life Cycle: Methodologies and Tools for the Enterprise" />
	{{ end }}
	{{ with .Params.author }}<meta name="author" content="{{ . }}">{{ end }}
</head>

<body>
<div id="page">
	<div id="header">
		<div class="headertop">
			<ul>
				<li><a href="/blog/about/" title="About">About</a></li>
				<li><img src="/blog/images/mini_rss.gif" alt="RSS" /> <a href="http://feeds.feedburner.com/SdlcBlog" title="RSS">RSS</a></li>
			</ul>
		</div>
		<div class="headertitle">
			<h1><a href="/blog/">SDLC Blog</a></h1>
			<div class="favicons">
					   <a href="http://twitter.com/ferdy" title="Ferdy at Twitter" rel="me"><img src="/blog/images/ico_twitter.gif" border="0" alt="Ferdy at Twitter" /></a>
					   <a href="http://del.icio.us/frodenas" title="Ferdy at del.icio.us" rel="me"><img src="/blog/images/ico_delicious.gif" border="0" alt="Ferdy at del.icio.us" /></a>
					   <a href="http://www.flickr.com/photos/ferranrodenas/" title="Ferdy at Flickr" rel="me"><img src="/blog/images/ico_flickr.gif" border="0" alt="Ferdy at Flickr" /></a>
					   <a href="http://www.linkedin.com/in/frodenas" title="Ferdy at LinkedIn" rel="me"><img src="/blog/images/ico_linkedin.gif" border="0" alt="Ferdy at LinkedIn" /></a>
					   <a href="http://www.facebook.com/frodenas" title="Ferdy at Facebook" rel="me"><img src="/blog/images/ico_facebook.gif" border="0" alt="Ferdy at Facebook" /></a>
			</div>
			<div class="description">
				Software Development Life Cycle: Methodologies and Tools for the Enterprise         
			</div>
		</div>
	</div><!-- #header -->
